.main-contents {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
}

.expand-all-button {
  margin-left: 10px;
}

.group-btn{
  height: 25px;
}

.expand-btn{
  margin-left: 15px;
  height: 25px;
}

.branch-details{
  display: flex;
}

.branch-det-1{
  flex: 2;
}
.branch-det-1{
  flex: 1;
}
.branch-det-1{
  flex: 1;
}
.branch-det-1{
  flex: 1;
}
.branch-det-1{
  flex: 1;
}
.branch-det-1{
  flex: 1;
}
