<div class="main-contents">
  <h1>Title For Projects Page</h1>
  <div role="group" aria-label="Basic example">
    <dx-button
      class="group-btn"
      stylingMode="outlined"
      text="Outlined"
      type="normal"
      (onClick)="showBuilds($event)"
    >
      Builds
    </dx-button>
    <!-- <dx-button class="group-btn" stylingMode="outlined"
      text="Outlined"
      type="normal"
      (onClick)="showTrends($event)">
      Trends
    </dx-button> -->

    <dx-button
      class="expand-btn"
      stylingMode="outlined"
      text="Outlined"
      type="normal"
      (onClick)="expandAll($event)"
    >
      Expand All
    </dx-button>
  </div>

  <br />
  <br />

  <!-- <div id="accordion">
    <dx-accordion #accordion [dataSource]="projectGroups" [collapsible]="true" [multiple]="true" [animationDuration]="300"
      [selectedItems]="[projectGroups[0]]">
      <div *dxTemplate="let project of 'title'">
        <h1>{{project.text}}</h1>
      </div>
      <div *dxTemplate="let project of 'item'">
        <div class="build-content">
          Build content
        </div>
      </div>
    </dx-accordion>

  </div> -->

  <!-- <dx-accordion [dataSource]="accordionData" itemTemplate="item">
    <div *dxTemplate="let itemData of 'item'">
      <p *ngFor="let key of getItemKeys(itemData)">
        {{ key }}: {{ itemData[key] }}
      </p>
    </div>
  </dx-accordion> -->

  <!-- <dx-accordion
    [dataSource]="projectBranches"
    itemTitleTemplate="title"
    itemTemplate="item"
  >
    <div *dxTemplate="let projectBranch of 'title'">
      <span>{{ projectBuild.id }}</span>
      <button style="float: right">Run</button>
    </div>
    <div *dxTemplate="let projectBranch of 'item'">
      <div class="branch-details">
        <div *ngFor="let buildNumberDetails of projectBranch">

        </div>
      </div>

    </div>
  </dx-accordion> -->

</div>
