<div class="main-contents">
  <h1>{{project.name}}</h1>
  <div role="group" aria-label="Basic example">
    <dx-button
      class="group-btn"
      stylingMode="outlined"
      text="Outlined"
      type="normal"
      (onClick)="showBuilds($event)"
    >
      Builds
    </dx-button>

    <dx-button class="group-btn" stylingMode="outlined"
      text="Outlined"
      type="normal"
      (onClick)="showTrends($event)">
      Trends
    </dx-button>

    <!-- <dx-button
      class="expand-btn"
      stylingMode="outlined"
      text="Outlined"
      type="normal"
      (onClick)="expandAll($event)"
    >
      Expand All
    </dx-button> -->

  </div>

  <br />
  <br />

  <dx-accordion
    [dataSource]="project.children"
    itemTitleTemplate="title"
    itemTemplate="item"
    [multiple]= 'true'
  >
    <div *dxTemplate="let branch of 'title'">
      <span>{{ branch.name }}</span>
      <dx-button style="float: right;" stylingMode="outlined"
      text="Outlined"
      type="normal"
      (onClick)="runTheBranch($event)">
      Run
    </dx-button>
    </div>
    <div *dxTemplate="let data of 'item'">
      <div class="branch-details">
        <!-- {{data.buildNumberDetails[0].name}} -->
        <!-- <div class="branch-det-1">
          {{data.buildNumberDetails[0].name}}
        </div>
        <div class="branch-det-2">
          {{data.status}}
        </div>
        <div class="branch-det-3">
          {{data.changes[0]}}
        </div>
        <div class="branch-det-4">
          {{data.agent}}
        </div>
        <div class="branch-det-5">
          {{data.started}}
        </div>
        <div class="branch-det-6">
          {{data.duration}}
        </div> -->

      </div>

    </div>
  </dx-accordion>

  <br/>
  <div>
    project({{projectId}}) details works.
  </div>


</div>
