<!-- <mat-drawer-container class="example-container">
  <mat-drawer class="left-sidebar" mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> -->

<dx-box
    direction="row"
    width="100%"
    height="100%">

    <dxi-item
        class="rect demo-dark"
        [ratio]="1">
        <app-sidebar></app-sidebar>
    </dxi-item>
    <dxi-item
        class="rect demo-light"
        [ratio]="4">
    </dxi-item>

</dx-box>
